<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views test 2!</h1>
    <a href="/gossips/new/">Crée ton potin ! </a>
  </body>
</html>